.slides{
    width: 1000px;
    height: 500px;
    margin: auto;
}
img{
    display: none;
    margin:auto;
}
.block{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

button {
    display:block;
    margin:auto;
    background:none;
    border:none;
    transition:.15s;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}

button:hover {
    background:#00000020;
}